Source: libdate-recur-perl
Section: perl
Priority: optional
Build-Depends: debhelper (>= 7)
Build-Depends-Indep: perl, libdate-simple-perl
Maintainer: Andrew Chilton <chilts@appsattic.com>
Standards-Version: 3.8.3
Homepage: http://search.cpan.org/dist/Date-Recur/

Package: libdate-recur-perl
Architecture: all
Depends: ${misc:Depends},
 libmoose-perl,
 libdate-simple-perl
Description: Create recurring dates
 Date::Recur allows you to set up a definition of a recurring date, and then
 allow that to be tested against any particular date.
